@import "fonts";
@import "normalize";
@import "vars";
@import "global";
@import "slick";


//* ~~~~~~~~~~ Header ~~~~~~~~~~~~~
.header {
  // position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: $bg;
}

.header__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 15px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: $text;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  &::after {
    content: '';
    height: 3px;
    background-color: #F6BD60;
    bottom: 0;
    top: -6px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  &-link {
    max-width: 147px;
    width: 100%;
  }

  &-text {
    max-width: 220px;
    margin-left: 20px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    color: #5D5D5D;
    position: relative;

    &::before {
      content: '';
      width: 2px;
      height: 40px;
      background-color: #89AFEF;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

    }
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  .btn {
    padding: 12px;
    width: 195px;
    &:hover {
      background-position: 195px;
    }
  }
}

.contacts-link {
  margin-right: 30px;
  text-align: right;
  &__phone {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-left: 6px;
    margin-bottom: 6px;
  }
  &__mail {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin-left: 6px;
  }
}

// ~~~~~~~~~~ Social ~~~~~~~~~~
.social {
  display: flex;
  align-items: center;
}

.social-link {
  margin-left: 18px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  &__whatsapp {
    background-color: #2DD038;
  }

  &__viber {
    background-color: #7B519D;
  }

  &__telegram {
    background-color: #5BBAF0;
  }
}



//* ~~~~~~~~~~ Intro ~~~~~~~~~~~~~
.intro {
  // min-height: 720px;
  // padding-top: 160px;
  position: relative;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .header {
    background-color: transparent;
  }

  &__wrapper {
    display: flex;
  }

  &__info {
    margin-top: 96px;
    max-width: 685px;
    margin-right: 15px;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.27;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    span {
      font-weight: 800;
    }
  }

  &__img {
    max-width: 562px;
    margin-bottom: -10px;
    img {
      width: 100%;
    }
  }

  &__btn {
    width: 211px;
    padding: 15px;
    &:hover {
      background-position: 211px;
    }
  }
  &__btn {
    margin-bottom: 50px;
  }
}

// ~~~~~~~~~~ Intro Deco ~~~~~~~~~~~~~

.deco__img {
  position: absolute;
  z-index: 99;
  &--01 {
    top: 34.4%;
    left: 8%;
  }

  &--02 {
    bottom: 9%;
    left: 18%;
  }

  &--03 {
    top: 8%;
    left: 4%;
  }

  &--04 {
    bottom: 28%;
    left: 37%;
  }

  &--05 {
    top: 15%;
    left: 12%;
  }

  &--06 {
    top: 50%;
    left: 14%;
    transform: rotate(90deg);
  }

  &--07 {
    top: 25%;
    left: 23%;
    transform: rotate(-115deg);
  }

  &--08 {
    bottom: 37%;
    left: 50%;
  }

}

.circle--gray {
  width: 13px;
  height: 13px;
  path {
    stroke: #939393;
    stroke-width: 2px;
  }
}

.triangle--gray {
  width: 45px;
  height: 45px;
  path {
    stroke: #939393;
    stroke-width: 2px;
  }
}


//* ~~~~~~~~~~ Documents ~~~~~~~~~~~~~
.documents {
  margin-top: 47px;
  &__inner {
    margin-top: 35px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }

  &__item {
    display: block;
    padding: 30px;
    min-height: 190px;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: box-shadow .5s linear;
    &:hover {
      box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.25);
    }
  }

  &__text {
    margin-top: 17px;
  }
}

//* ~~~~~~~~~~ Benefits ~~~~~~~~~~~~~
.benefits {
  margin-top: 70px;
  background-color: #f6f6f6;
  &__items {
    padding: 42px 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
    max-width: 262px;
    width: 100%;
    & + .benefits__item {
      margin-left: 30px;
    }
  }

  &__img {
    margin: 0 auto;
    width: 98px;
    height: 98px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #E8E8E8;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-top: 15px;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
  }

  &__text {
    max-width: 210px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 17px;
    line-height: 25px;
  }
}

//* ~~~~~~~~~~ Programs ~~~~~~~~~~~~~
.programs {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;

  .slick-dots {
    display: flex;
    justify-content: center;
    button {
      margin-right: 10px;
      width: 11px;
      height: 11px;
      background: #E4E4E4;
      border: none;
      border-radius: 50%;
      font-size: 0;
      line-height: 0;
    }
    .slick-active button {
      width: 12px;
      height: 12px;
      padding: 0;

      border: 2px solid #84AAED;
      background: #fff;
    }
  }

  &__slider {
    margin-top: 30px;
  }

  &__slide {
    margin: 15px;
    max-width: 265px;
    width: 100%;
    padding: 25px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    text-align: center;
  }

  &__slide-img {
    margin: 0 auto;
    margin-bottom: 17px;
    img {
      width: 100%;
    }
  }

  &__slide-name {
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
  }

  &__slide-status {
    font-size: 16px;
    line-height: 19px;
    color: #53B43B;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 5px;
    }
  }

  &__slide-price {
    display: block;
    margin-top: 15px;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
  }


  &__title {
    position: relative;
    display: inline;

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::after {
      width: 21px;
      height: 21px;
      background-image: url(../img/deco/circle.svg);
      right: -60px;
      top: 10px;
    }
    &::before {
      background-image: url(../img/deco/triangle.svg);
      width: 30px;
      height: 30px;
      right: -110px;
      top: -10px;

    }
  }
}


.certificate {
  background-color: $bg;
  padding-top: 48px;
  padding-bottom: 74px;

  &__slider {
    margin-top: 50px;
  }

  .slick-slide {
    margin: 0 30px;
  }

  .slick-list {
    margin-left: -30px;
    margin-right: -30px;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
  }
  .slick-prev {
    left: -48px;
  }
  .slick-next {
    right: -27px;
  }
}


//* ~~~~~~~~~~ News ~~~~~~~~~~~~~
.news {
  margin: 52px 0 70px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__promo {
    display: flex;
    padding: 40px 30px;
    min-width: 555px;
    margin-right: 30px;
    background-image: url(../img/news/promo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  }


  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 262px;
    padding: 25px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    & + .news__item {
      margin-left: 30px;
    }
  }


  &__item-img {
    width: 100%;
  }

  &__item-date {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #ABABAB;
  }

  &__item-name {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
  }
  &__item-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: calc(19px * 3);
    line-height: 19px;
    overflow: hidden;
  }

  &__btn {
    margin: 45px 0 70px 0;
    display: flex;
    justify-content: center;

    &-link {
      min-width: 225px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #6D81CC;
      border: 2px solid #6D81CC;
      border-radius: 3px;

      transition: all .3s linear;
      &:hover {
        background-color: #6D81CC;
        color: #fff;
      }
    }

  }


}
.news__deco--01 {

}
.news__deco--02 {

}
.news__deco--03 {

}
.news__deco--04 {

}

.promo-info {
  max-width: 265px;

  &__name {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    span {
      color: #6D81CC;
    }
  }
}




//* ~~~~~~~~~~ Footer ~~~~~~~~~~~~~
.footer {
  background: #333333;
  border: 1px solid #979797;
  padding-top: 56px;
  color: #FFFFFF;

  &__info {
    display: flex;
    justify-content: space-between;
  }
  .footer__info-link {
    display: flex;
    justify-content: space-between;
  }

  &__pages {
    margin-right: 30px;
  }

  &__pages-link {
    margin-bottom: 15px;
    a {
      color: #FFFFFF;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.1;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.6;

      }
    }
  }

  &__btn {
    width: 265px;
    padding: 15px;
    margin-bottom: 52px;
    margin-top: 35px;
    // overflow: hidden;
    &:hover {
      background-position: 265px;
    }
  }

  &__logo {
    opacity: 0.12;
  }
}

.footer-title {
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 22px;
}

.contacts-footer {
  width: 270px;
  &__list {
    margin-bottom: 35px;
  }

  &__link {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    a {
      font-size: 17px;
      color: #FFFFFF;
      margin-left: 13px;
      transition: opacity 0.3s linear;

      &:hover {
        opacity: 0.6;
      }
    }

    svg path {
      fill: #fff;
    }
  }
}


.footer__copyright {
  border-top: 1px solid #4E4E4E;
  text-align: center;
  p {
    padding: 20px;
    font-size: 14px;
    color: #565656;
  }
}






@import "media";
